*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.main-container{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    padding-bottom: 50px;
}

.main_heading{
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
    color: #fff;
    text-transform: uppercase;
    font-size: 280%;
    font-weight: 300;
}

#member_table{
    border-collapse: collapse;
    margin: 0 auto;
}

#member_table th, 
#member_table td{
    border: 1px solid #000;
    padding: 15px;
}

#member_table tr:nth-child(odd){
    background: #eee;
}

.delete_icon,
.edit_icon{
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s;
}

.delete_icon{
    color: red;
}

.delete_icon:hover,
.edit_icon:hover{
    transform: scale(1.2);
}

.hide_input{
    border: none;
}

.hide{
    display: none;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.486);
}

.form_popup{
    position: fixed;
    top: 6%;
    left: 20%;
    width: 60%;
    background: #fff;
    border: 1px solid #000;
    z-index: 999;
}

.form_popup > h1{
    background: #36304a;
    color: #fff;
    padding: 20px;
    font-size: 160%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.input_fields{
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 40%;
}

.btn_cont{
    text-align: center;
}


.submit_btn,
.cancel_btn{
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: transform 0.2s;
    cursor: pointer;
}

.submit_btn{
    background: lightgreen;
    border: 1px solid lightgreen;
}

.cancel_btn{
    background: salmon;
    border: 1px solid salmon;
}

.submit_btn:hover,
.cancel_btn:hover{
    transform: scale(1.1);
}

#changeForm{
    padding: 20px;
}

.new_node_btn{
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: 172px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #36304a;
    border: 1px solid #36304a;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    transition: transform 0.2s;
    cursor: pointer;
}

.new_node_btn:hover{
    transform: scale(1.05);
}